/* CSS Document */
.hidden{
    display: none;
}

.btn-xs{
    height: 30px;
    width: 30px;
    padding: 3px 4px 4px 5px;
}
.td-center{
    text-align: center;
    vertical-align: middle !important;
}
.small-logo{
    display: none;
}

@media (max-width: 992px){
    .large-logo{
        display: none !important;
    }
    .small-logo{
        display: block !important;
        max-width: 70vw;
    }
}
@media (max-width: 768px){
    .small-logo{
        max-width: 90vw;
    }
    .navbar-logo{
        padding: 3px !important;
    }
}
@media (max-width: 575px){
    .small-logo{
        max-width: 95vw;
    }
    .navbar-logo{
        padding: 5px !important;
    }
}